<!DOCTYPE html><html lang="en"><head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <meta charset="utf-8">
  <title>DevHosts</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="icon" type="image/x-icon" href="{{ assetsUrl('favicon.ico') }}">
  {{ css('styles.fc29e84d53e3eef88d9d.css') }}
</head>
<body>
  <app-root></app-root>

  {{ script('runtime.6afe30102d8fe7337431.js') }}
  {{ script('polyfills.cf535d2993b5def59ab4.js') }}
  {{ script('main.12bcc3c96bc0894e09d4.js') }}
</body></html>