<!DOCTYPE html><html lang="en"><head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <meta charset="utf-8">
  <title>DevHosts</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{{ assetsUrl('favicon.ico') }}">
  {{ css('styles.8794f2531cc52e3c07c5.css') }}
</head>
<body>
  <app-root></app-root>

  {{ script('runtime.6afe30102d8fe7337431.js') }}
  {{ script('polyfills.cf535d2993b5def59ab4.js') }}
  {{ script('main.eb9be18f715cfbbaf824.js') }}
</body></html>